.asia{
     background-image: url('mJRp4Xn.jpg');
     border: 1px solid rgb(27, 22, 22);
     width: 370px;
     height: 370px;
     background-repeat: no-repeat;
    padding: 0%;
    margin: 2em auto;
    background-position:center ;
    background-size: 100%;
    border-radius: 10em;
    
}
#arm1{
    margin: 2em auto -1em;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#arm2{
    margin: 0em auto;
    font-size: 150%;
    font-style: italic;
    text-align: center;
    width: 50%;
}
.tribprop{
    background-color: rgba(127, 140, 10, 0.395);
    width: 100%;
    border: 2px solid black;
    
    
}

.arm3{
    font-size: 20px;
    padding-left: 8%;
    font-style: italic;
    
}

.zim1{
    margin-right: 125px;
    font-size: 25px;
}


/*===================================================================
=========================STYLING SECOND CONTAINER====================
===================================================================*/

.se_con p{
    text-transform: capitalize;
    text-indent: 8%;
    font-size: 1.26em;
    margin-left: 0.4em;
    
}

.se_con strong{
    margin-right: 5.7em;
    
}

.exep{
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
}

.para{
    margin-left: 5em;
    font-size: 1.15em;
    margin-top: 4px;
    padding-top: 10px;
}

#p1{
     text-align: left;
     margin-right: 2em;
}

#line{
    margin-left: 12em;
}