.asia{
    max-width: 30%;
    
    margin-left: 460px;
    border: 4px solid rgb(0, 109, 128);
    border-radius: 80px;

}
#arm1{
    margin-left: 620px;
    font-family: Arial, Helvetica, sans-serif;
}
#arm2{
    margin-left: 500px;
    font-size: 150%;
    font-style: italic;
    
}
.tribprop{
    background-color: rgba(127, 140, 10, 0.395);
    margin-left: 40px;
    block-size: 800px;
    
}


.arm3{
    font-size: 20px;
    padding-left: 8%;
    font-style: italic;
    
}

.zim1{
    margin-right: 125px;
    font-size: 25px;
}
.arm4{
    
    margin-left: 20%;
    font-size: 20px;
       padding: 14px;
        font-style: italic;

}
.zim2{
     position: relative;

      bottom: 60px;
      left: 120px;
        font-size: 25px;
}
.arm5{
    
    position: relative;
    left: 20%;
    bottom: 10px;
    font-size: 20px;
    padding-right: 20%;
    
    
    font-style: italic;
}
#p1{
    position: relative;
    bottom: 50px;
    left:290px;
    padding-right: 20%;
    font-size: 20px;
    font-style: italic;
}
.s1{
    position: relative;
    
        bottom: 110px;
        left: 120px;
        font-size: 25px;

}
.p2{
    position: relative;
        bottom: 100px;
        left: 20%;
        font-size: 20px;
        font-style: italic;
}
.s2{
    position: relative;

    bottom: 50px;
    left: 65px;
    font-size: 25px;
}
.p3 {
    position: relative;
    bottom: 135px;
    left: 20%;
    font-size: 20px;
    font-style: italic;
}
.s3{
    position: relative;
    
        bottom: 90px;
        left: 120px;
        font-size: 25px;
}
.p4{
    position: relative;
        bottom: 168px;
        left: 20%;
        font-size: 20px;
      
        font-style: italic;
}
.s4{
    position: relative;
    
        bottom: 120px;
        left: 120px;
        font-size: 25px;
}
.s5{
    position: relative;
    
        bottom: 160px;
        left: 120px;
        font-size: 25px;
}
.p5{
    position: relative;
        bottom: 208px;
        left: 20%;
        font-size: 20px;
    
        font-style: italic

}
.s6{
    position: relative;
    
        bottom: 195px;
        left: 120px;
        font-size: 25px;

}
.p6{
position: relative;
    bottom: 250px;
    left: 20%;
    font-size: 20px;

    font-style: italic

}
.s7{position: relative;

    bottom: 240px;
    left: 120px;
    font-size: 25px;


}
.p7{
    position: relative;
        bottom: 290px;
        left: 20%;
        font-size: 20px;
    
        font-style: italic

}